<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Submitted</title>
    <link rel="stylesheet" href="/static/styles-1.css" />
  </head>
  <body>
    <header>
      <h1>Application Form Submitted</h1>
    </header>
    <main>
      <section>
        <p>
          Thank you for submitting the form!<br /><br />We will contact you
          shortly.
        </p>
      </section>
    </main>
  </body>
</html>
